.form {
  background: rgb(213, 163, 93);
  min-height: 565px;
  width: 550px;
  padding: 10px;
  margin: 10px auto;
}

.field-wrap {
  position: relative;
  margin-bottom: 15px;
  width: 100%; 
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(113, 34, 5, 0.5);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

label.active {
  transform: translateY(-16px);
  left: 2px;
  font-size: 10px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-left: 5px;
}

label.active + input {
  border: none;
}

input, textarea {
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  border: 1px solid rgb(113, 34, 5);
  padding: 5px;
  color: rgb(113, 34, 5);
  background: none;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  width: 100%; 
  box-sizing: border-box; 
}

input:focus, textarea:focus {
  outline: none;
  border-color: rgb(255, 91, 37);
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.tab-group {
  list-style: none; 
  padding: 20px;
  display: flex; 
  justify-content: space-between; 
  
}

.tab {
  flex: 1; 
  text-align: center; 
}

.tab.active button {
  background-color: rgb(229, 103, 23); 
  color: white; 
  border-color: rgb(255, 91, 37); 
}

.tab button {
  font-size: 1.8rem; 
  padding: 15px 30px; 
  width: 80%; 
}

button.button-block {
  margin-top: 20px; /* Add spacing above the button */
}