.form {
  border: 10px solid rgb(255, 91, 37);
  border-radius: 15px;
  box-shadow: 
      0 0 0 10px rgb(232, 41, 12),
      0 0 0 20px rgb(113, 34, 5);
  min-height: 565px;
  width: 550px;
  background: rgb(213, 163, 93);
  padding: 10px;
  margin: 10px auto;
}

.field-wrap {
  position: relative;
  margin-bottom: 15px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(113, 34, 5, 0.5);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

label.active {
  transform: translateY(-16px);
  left: 2px;
  font-size: 10px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-left: 5px;
}

label.active + input {
  border: none;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}