.landing-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.logo-container {
  margin-bottom: 20px;
}

.landing-logo {
  margin-left: 0;
  width: 600px;
  height: auto;
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  animation: fadeIn 0.3s ease-in-out;
}

.options-container {
  padding: 20px;
  background-color: #ffddce;
  animation: fadeIn 0.3s ease-in-out;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column; 
  gap: 15px;
}

.options-container h2 {
  margin-bottom: 20px;
}

.options-container .button {
  margin-bottom: 0; 
}

.navigation-stack {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
}

.wide-container {
  width: 200%; 
}

.total-score-container {
  margin: 20px 0;
  padding: 15px;
  background-color: #ffd9b3;
  border-radius: 10px;
  text-align: center;
}

.total-score-container h3 {
  font-size: 24px;
  color: #713405;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}