#option-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin: 10px;
}

#prompt-output {
    font-size: 24px;
    text-align: center;
}

#result-output {
    text-align: center;
}

.highlighted {
    background-color: #ffcc00; /* Highlight color */
    color: black; /* Text color */
  }
